<a href="https://colab.research.google.com/github/Poornima-m-m/pythonfiles_ey/blob/main/DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data** **Structures**

List

In [1]:
#list
abc = ["data1","data2","data3"]
print(abc)

['data1', 'data2', 'data3']

In [2]:
dir(abc) #set of possible operations that can be performed by a particular data structure

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
print(len(abc)) #prints the length of the list

3

In [5]:
print(type(abc)) #prints the type of list

<class 'list'>

In [7]:
abc.append(10) #appends a value "10" at the end of the list since index is not specified
abc

['data1', 'data2', 'data3', 10, 10]

In [8]:
abc.reverse()#prints all the elemets in the list in a reverse order
abc

[10, 10, 'data3', 'data2', 'data1']

In [66]:
abc.count(2) #to count the elements
abc

['data is replaced',
 'data is inserted',
 'data2',
 'data1',
 'e',
 't',
 'e',
 'n',
 'd',
 'e',
 'd',
 ' ',
 'd',
 'a',
 't']

In [13]:
abc[1]='data is replaced' #to replace an element with another
print(abc)

[10, 'data is replaced', 'data3', 'data2', 'data1']

In [14]:
abc.insert(2,'data is inserted') #inserts a new element in the index specified
print(abc)

[10, 'data is replaced', 'data is inserted', 'data3', 'data2', 'data1']

In [15]:
abc.extend('extended data') #the value is printed in an extended format
print(abc)

[10, 'data is replaced', 'data is inserted', 'data3', 'data2', 'data1', 'e', 'x', 't', 'e', 'n', 'd', 'e', 'd', ' ', 'd', 'a', 't', 'a']

In [16]:
abc.remove('data3') #to remove the element
print(abc)

[10, 'data is replaced', 'data is inserted', 'data2', 'data1', 'e', 'x', 't', 'e', 'n', 'd', 'e', 'd', ' ', 'd', 'a', 't', 'a']

In [17]:
abc.pop(0) #the element on 0 index is popped out
print(abc)

['data is replaced', 'data is inserted', 'data2', 'data1', 'e', 'x', 't', 'e', 'n', 'd', 'e', 'd', ' ', 'd', 'a', 't', 'a']

In [18]:
abc.pop() #the element at the last will be popped out since the index is not specified
print(abc)

['data is replaced', 'data is inserted', 'data2', 'data1', 'e', 'x', 't', 'e', 'n', 'd', 'e', 'd', ' ', 'd', 'a', 't']

In [19]:
del abc[5] #the element in the index 5 will be deleted
print(abc)

['data is replaced', 'data is inserted', 'data2', 'data1', 'e', 't', 'e', 'n', 'd', 'e', 'd', ' ', 'd', 'a', 't']

In [20]:
xyz=abc.copy() #the elements of abc are copied to xyz
print(xyz)

['data is replaced', 'data is inserted', 'data2', 'data1', 'e', 't', 'e', 'n', 'd', 'e', 'd', ' ', 'd', 'a', 't']

Tuple

In [21]:
#tuple
tuple1=("apple","banana","cherry")
print(tuple1)

('apple', 'banana', 'cherry')

In [22]:
print(len(tuple1)) #length of tuple is diplayed

3

In [23]:
print(type(tuple1)) #the type is displayed

<class 'tuple'>

In [24]:
print(tuple1[1]) #element at index 1 is printed

banana

In [26]:
print(tuple1[-1]) #the last element is printed since the index is negative 1

cherry

In [27]:
print(tuple1[0:2])

('apple', 'banana')

In [30]:
dir (tuple1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [31]:
tuple1.count(2)
print(tuple1)

('apple', 'banana', 'cherry')

Set

In [38]:
#set
set1={"d1","d2","d3"}
print(set1)

{'d3', 'd2', 'd1'}

In [39]:
print(len(set1))

3

In [40]:
print(type(set1))

<class 'set'>

In [41]:
dir(set1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [43]:
set1.pop()
print(set1)

{'d2', 'd1'}

In [44]:
set1.add("d4,d5,d6")
print(set1)

{'d4,d5,d6', 'd2', 'd1'}

In [45]:
set2={"a1","a2","a3"}
set1.update(set2)
print(set1)

{'d4,d5,d6', 'd2', 'a3', 'd1', 'a2', 'a1'}

In [47]:
list=["l1","l2"]
set1.update(list)
print(set1)

{'d4,d5,d6', 'l2', 'd2', 'a3', 'd1', 'l1', 'a2', 'a1'}

In [48]:
set1.remove("d2")
print(set1)

{'d4,d5,d6', 'l2', 'a3', 'd1', 'l1', 'a2', 'a1'}

In [50]:
set1.discard("a1")
print(set1)

{'d4,d5,d6', 'l2', 'a3', 'd1', 'l1', 'a2'}

In [51]:
set2.clear()
print(set2)

set()

Dictionary

In [53]:
#dictionary
dict1 = {"name":"arya",
         "regno":99,
         "semester":"fourth"}
print(dict1)

{'name': 'arya', 'regno': 99, 'semester': 'fourth'}

In [54]:
print(dict1["name"])

arya

In [55]:
print(len(dict1))

3

In [56]:
print(type(dict1))

<class 'dict'>

In [58]:
x=dict1.values()
print(x)

dict_values(['arya', 99, 'fourth'])

In [59]:
x=dict1.items()
print(x)

dict_items([('name', 'arya'), ('regno', 99), ('semester', 'fourth')])

In [60]:
dict1.update({"regno":100})
print(dict1)

{'name': 'arya', 'regno': 100, 'semester': 'fourth'}

In [61]:
dir(dict1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [62]:
dict2 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [63]:
dict2.clear()
print(dict2)

{}

In [70]:
dict3={
  "brand": "benz",
  "model": "Mt",
  "year": 1964
}
dict4=dict3.copy()
print(dict4)

{'brand': 'benz', 'model': 'Mt', 'year': 1964}

In [71]:
for x in dict3:
  print(x)

brand
model
year